<template>
    <div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">
                    <button class="btn btn-link p-0" @click="changeSort">Usuario</button>
                    <span v-if="sortName > 0">&uarr;</span>
                    <span v-if="sortName < 0">&darr;</span>
                </th>
                <th scope="col">Email</th>
                <th scope="col">Es administrador</th>
                <th scope="col">Último login</th>
            </tr>
            </thead>
            <tbody>
            <tr
                v-for="(user, index) in showedUser"
                :key="user.id"
                @click="$emit('select', index)"
                style="cursor: pointer"
            >
                <td>{{ user.first_name | showEmpty }} {{ user.last_name }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.is_staff | yesno }}</td>
                <td>{{ user.last_login | myDate | showEmpty }}</td>
            </tr>
            </tbody>
        </table>

        <!-- PAGINATION -->
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item"  :class="{'disabled': currentPage === 0}">
                    <button class="page-link" @click="previousPage">Anterior</button>
                </li>

                <li v-for="page in pages" :key="page" class="page-item" :class="{'active': currentPage === page}">
                    <button class="page-link" @click="goToPage(page)">{{ page + 1 }}</button>
                </li>

                <li class="page-item" :class="{'disabled': currentPage === pages.length - 1}">
                    <button class="page-link" @click="nextPage">Siguiente</button>
                </li>
            </ul>
        </nav>

    </div>
</template>

<script>
import {orderBy} from 'lodash';

export default {
    name: "UserList",
    filters: {
        showEmpty(value) {
            if (value === "") {
                return "-"
            }
            return value;
        },
    },
    props: {
        users: Array,
    },
    data() {
        return {
            currentIndex: 0,
            elementsPerPage: 5,
            currentPage: 0,

            // sort
            sortName: 0,
        }
    },
    computed: {
        showedUser() {
            let slice = this.users;
            if(this.sortName !== 0) {
                if (this.sortName > 0) {
                    slice = orderBy(slice, ['username'], ['asc']);
                } else {
                    slice = orderBy(slice, ['username'], ['desc']);
                }
            }

            return slice.slice(this.currentIndex, this.currentIndex + this.elementsPerPage);
        },
        pages() {
            let numberOfPages = Math.ceil(this.users.length / this.elementsPerPage);
            let pageArray = [];
            for (let i = 0; i < numberOfPages; i++) {
                pageArray.push(i);
            }
            return pageArray;
        },
    },
    methods: {
        previousPage() {
            this.currentPage = this.currentPage - 1;
            this.currentIndex = this.currentIndex - this.elementsPerPage;
        },
        nextPage() {
            this.currentPage = this.currentPage + 1;
            this.currentIndex = this.currentIndex + this.elementsPerPage;
        },
        goToPage(page) {
            this.currentPage = page;
            this.currentIndex = page * this.elementsPerPage;
        },
        changeSort() {
            switch (this.sortName) {
                case 0:
                    this.sortName = 1;
                    break;
                case 1:
                    this.sortName = -1;
                    break;
                case -1:
                    this.sortName = 0;
                    break;
            }
        }
    },
}
</script>

<style scoped>

</style>