<template>
    <div>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-5">Nada que ver aquí</h1>
                <p class="lead">Por favor continúe sin mirar atrás</p>
                <p>
                   <router-link to="/" class="nav-link">Ir a la página principal</router-link>
                </p>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Error'
}
</script>

<style scoped>

</style>