<template>
    <div>
        <h2>Productos disponibles</h2>

        <div v-if="isMessageShown" class="alert alert-primary" role="alert">
            Un producto ha sido añadido a la cesta!
        </div>

        <div v-if="isEmptyMessageShown" class="alert alert-danger" role="alert">
            Se ha vaciado el carrito!
        </div>

        <loading-component :is-loading="!isLoaded">
            <p>
                Elementos en el carro {{ cart.length }} - precio total {{ cartPrice | money }}€
                <button class="btn btn-secondary ml-3" @click="emptyCart">Vaciar carro</button>
            </p>

            <product
                v-for="(product, index) in products"
                :key="product.id"
                :product="product"
                :index="index"
                :is-staff="isStaff"
                @quantity="modifyQuantity"
                @bought="addProductToCart"
                @price="modifyPrice"
            />
        </loading-component>

        <div>
            <button
                class="btn btn-primary"
                @click="getProducts"
            >
                Recuperar productos
            </button>
        </div>
    </div>
</template>

<script>
import Product from "@/components/Product";
import api from "@/api/api";
import store from '@/store/store';
import ShoppingCartMixin from "@/components/ShoppingCartMixin";
import LoadingComponent from "@/components/LoadingComponent";

export default {
    name: 'Home',
    components: {
        LoadingComponent,
        Product,
    },
    props: {
        isStaff: Boolean,
    },
    mixins: [ShoppingCartMixin],
    data() {
        return {
            isMessageShown: false,
            isEmptyMessageShown: false,
            products: null,
            sharedState: store.state,
        }
    },
    computed: {
        cart() {
            return this.sharedState.cart;
        },
        isLoaded() {
            return this.products !== null;
        },
    },
    methods: {
        getProducts() {
            api.getProducts()
                .then(result => {
                    this.products = result;
                });
        },
        modifyQuantity({index, quantity}) {
            this.products[index].quantity = this.products[index].quantity + quantity;
        },
        addProductToCart(index) {
            store.addToCart(this.products[index]);
            this.showMessage();
            this.$emit('bought')
        },
        modifyPrice({index, newPrice}) {
            this.products[index].price = newPrice;
        },
        emptyCart() {
            store.emptyCart();
            this.showEmptyMessage();
            this.$emit('empty');
        },
        showMessage() {
            this.isMessageShown = true;
            setTimeout(() => {
                this.isMessageShown = false;
            }, 2500)
        },
        showEmptyMessage() {
            this.isEmptyMessageShown = true;
            setTimeout(() => {
                this.isEmptyMessageShown = false;
            }, 2500)
        }
    },
    created() {
        this.getProducts();
    }
}
</script>

<style scoped>
</style>