<template>
    <div>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><button @click="goToList" class="btn btn-link p-0">Usuarios</button></li>
            <li v-if="selectedUser !== null" class="breadcrumb-item active" aria-current="page">
                {{ selectedUser.first_name }} {{ selectedUser.last_name }}
            </li>
        </ol>

        <loading-component :is-loading="users === null">

            <component
                :is="componentList[selectedComponentIndex]"
                :selected-user="selectedUser"
                :users="users"
                @select="select($event)"
                @create="userCreated"
                @save="userSaved"
                @cancel="goToList"
            />

        </loading-component>

        <div class="row">
            <div class="col">
                <button class="btn btn-info" @click="addNewUser">Añadir nuevo usuario</button>
                <button class="btn btn-info ml-2" @click="getUsers">Refrescar lista</button>
                <button class="btn btn-info ml-2" @click="modifyDataInArray">Modificar dato en array</button>
            </div>
        </div>
    </div>
</template>

<script>
import api from "@/api/api";
import LoadingComponent from "@/components/LoadingComponent";
import UserEditCreate from "@/components/user/UserEditCreate";
import UserDetail from "@/components/user/UserDetail";
import UserList from "@/components/user/UserList";

const USER_LIST = 0;
const USER_DETAIL = 1;
const USER_CREATE = 2;

export default {
    name: "UsersView",
    components: {UserList, UserDetail, UserEditCreate, LoadingComponent},
    filters: {
        showEmpty(value) {
            if (value === "") {
                return "-"
            }
            return value;
        },
    },
    data() {
        return {
            users: [],

            // selection data
            selectedUser: null,

            selectedComponentIndex: USER_LIST,
            componentList: [
                UserList,
                UserDetail,
                UserEditCreate,
            ]
        }
    },
    created() {
        this.getUsers();
    },
    methods: {
        addNewUser() {
            this.createdUser = {
                username: null,
                first_name: null,
                last_name: null,
                password: null,
                email: null,
                is_staff: false,
            };
            this.selectedComponentIndex = USER_CREATE;
        },
        userCreated() {
            this.goToList();
            this.getUsers()
        },
        getUsers() {
            api.getUsers().then(users => this.users = users);
        },
        goToList() {
            this.selectedComponentIndex = USER_LIST;
            this.selectedUser = null;
        },
        select(index) {
            this.selectedUser = this.users[index];
            this.selectedComponentIndex = USER_DETAIL;
        },
        userSaved(newUser) {
            this.selectedUser = newUser;
        },

        saveUser() {
            api.updateUser(this.selectedUser);
            if (this.newImage !== null) {
                let formData = new FormData();
                formData.append('profile_image', this.newImage)
                api.uploadProfileImage(this.selectedUser, formData)
                    .then(user => this.selectedUser = user);
            }
        },
        modifyDataInArray() {
            // README!!! https://vuejs.org/v2/guide/reactivity.html

            // this.users[0] = {
            //     "profile_image":"http://192.168.0.17:8000/media/profile_images/bjorn_VkvkBI9.jpg",
            //     "user_extension_id":11,
            //     "id":53,
            //     "username":"bjornkiller",
            //     "first_name":"Otro nombre muy complicado",
            //     "last_name":"Ironside",
            //     "email":"user0@email.com",
            //     "is_staff": true,
            //     "last_login":null,
            // }

            // this.$set(this.users, 1, {
            //     "profile_image":"http://192.168.0.17:8000/media/profile_images/bjorn_VkvkBI9.jpg",
            //     "user_extension_id":11,
            //     "id":53,
            //     "username":"bjornkiller",
            //     "first_name":"Otro",
            //     "last_name":"Nombre",
            //     "email":"otro@email.com",
            //     "is_staff": true,
            //     "last_login":null,
            // });
        }
    },
}
</script>

<style scoped>

</style>